
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------*/

body {
	font-family: "Jua";
	font-size: 27px;
	background: url(/hairprinter/assets/img/background.svg);
	background-size: cover;
}

p {
	margin-block: 20px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.content {
	display: flex;
	flex-direction: row;
	max-width: 1600px;
}

#img {
	max-width: 800px;
	margin-left: 50px;
}

#text {
	margin-block: 30px;
}

a {
	text-decoration: none;
	color: #482E13;
	font-size: 40px;
	margin-inline: 10px;
}

#logo {
	max-width: 628px;
	margin-bottom: 20px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #462E17;
	padding-block: 10px;
	color: white;
}

@media screen and (max-width: 800px) {

.content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
   	margin-inline: 20px;
}

body {
	font-family: "Jua";
	font-size: 18px;
	background: url(/hairprinter/assets/img/background.svg);
	background-size: cover;
}

#logo {
	max-width: 320px;
	margin-bottom: 20px;
}

span {
	font-size: 16px;
	display: flex;
	margin-bottom: 20px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

#img {
	max-width: 600px;
	margin-inline: 10px;
}

}

@media screen and (min-width: 800px) {

.bouton {
	display: none;
    }



}